<div class="cover d-flex justify-content-start align-items-end">
    
    <a href="#" class="fill-content">
        <%= show_featured_traveling_article %>
    </a>
    
</div>
<aside class="feautures d-flex flex-row">
    <%= show_articles %>
</aside>