<div class="cover d-flex justify-content-start align-items-end">
    
    <a href="#" class="fill-content">
        <%= show_featured_traveling_article %>
    </a>
    
</div>
<aside class="feautures d-flex flex-row">
    <% @list_of_categories.each do |item| %>
        <%= show_articles(item) %>
    <%end%>
</aside>