<div class="cover d-flex justify-content-start align-items-end">
    <div class='transbox'>
        <a href="#" class="fill-content">
            <%= show_featured_traveling_article %>
        </a>
    </div>
</div>
<aside class="feautures d-flex flex-row">
    <div class='transbox d-flex flex-row'>
        <%= show_articles %>
    </div>
</aside>