<div class="text-center">
  <h1 class="header-color">Sign Up</h1>
  <%= form_for @user, method: :post, html: { class: "form-signin" } do |f| %>
    <%= f.label :name, "Name:" %><br>
    <%= f.text_field :name, class:'form-control' %><br>

    <%= f.submit "Log In", disable_with: 'Submiting...', class:'btn btn-lg btn-primary btn-block mt-3' %>
  <% end %>
</div>