<footer class="d-flex justify-content-center">
  <div class="d-flex align-items-start side-space">
    <%= link_to "/" do %>
      <span class="footer-logo">TrAvEl LiFe</span>
    <%end%>
    <span class="header-color font-weight-bold">○</span>
  </div>
  <div class="d-flex justify-content-center text-center copyright center-space">
    <span>Privacy Policy</span>
    <span>Terms & Conditions</span>
    <span>Copyright 2020. All rights reserved.</span>
  </div>
  <div class="d-flex align-items-end footer-icons side-space">
    <span class="connect">Connect with us:</span>
    <span class="footer-links">
      <label><i class="fa fa-facebook-official"></i></label>
      <label><i class="fa fa-twitter"></i></label>
      <label><i class="fa fa-instagram"></i></label>
    </span>
  </div>
</footer>